<%- include('partials/head', { pageTitle: 'Error 401' }) %>

<link rel="stylesheet" href="/css/error.css">
</head>
<body>

<main class="alert">
  <h1>Unauthorized!</h1>
  <p>Unfortunately, you are not authorized to access this page.</p>
  <p><a class="btn" href="/">Back to safety</a></p>
</main>
<%- include('partials/footer') %>