<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/student/apply" method="POST" enctype="multipart/form-data">
    <%- include ('./partials/messages') %>
    <p>
      <label for="residenceOne">Residence One</label>
      <input type="text" name="residenceOne" id="residenceOne">  
    </p>
      <label for="residenceTwo">Residence Two</label>
      <input type="text" name="residenceTwo" id="residenceTwo">  
    </p> 
  </p>
  <p>
    <label for="average">Average</label>
    <input type="number" name="average" id="average" minlength="6" >
  </p>
  <p>
    <label for="academicRecord">Academic record</label>
    <input type="file" name="academicRecord" id="academicRecord" accept=".pdf">
  </p>
    

    <button class="btn">Apply</button>
  </form>
</body>
</html>