.card {
  margin: 10%;
}

#button {
  color: white;
  background-color: #6c3d91f7;
  border-radius: 11px;
  padding: 3px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.card img {
  object-fit: cover;
}