<%- include('../shared/partials/head', { pageTitle: 'Forgot Password' }) %>
  <style>
    body {
      background: url("/images/login-bg.jfif") no-repeat center center;
      background-size: cover;
    }

    body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: -1;
    }
  </style>
  </head>

  <body>
    <div class="back-arrow">
      <a href="/"><i class="bi bi-arrow-left"></i></a>
    </div>
    <div class="login-container">
      <div class="login-card">
        <div class="icon-box">
          <i class="bi bi-lock-fill"></i>

        </div>
        <% if(inputData.hasError) {%>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= inputData.message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% } %>
         
        <form action="/student/forgot-password/otp" method="POST">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" value="<%= inputData.email %>" required>
          <div class="d-flex align-items-center justify-content-evenly">
            <button type="submit">Submit</a></button>
            <button type="reset" class="clear-btn">Clear</button>
          </div>
        </form>
        <br>
        <p style="color: white;font-size: large;">Password reset link will be sent via email</p>
      </div>
    </div>
    <%- include('../shared/partials/footer') %>
