<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password reset</title>
</head>
<body>
  <form action="/student/forgot-password/otp" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <button>Send OTP</button>
  </form>
  <hr>
  
  <form action="/student/forgot-password" method="post">
    <label for="otp">OTP</label>
    <input type="text" name="otp" id="otp">
    <button>Submit OTP</button>
  </form>
</body>
</html>