<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <form action="/student/forgot-password/otp" method="post">
        <label for="New Password">New Password</label>
        <input type="email" name="email" id="email">
        <label for="Confirm Password">Confirm Password</label>
        <button>Send OTP</button>
    </form>
    
</body>
</html>